:root {
    --darkGray: #121212;
    --deepPurple: #673AB7;
    --lightGray: #e5e7ea;
    --orange: #f79b19;
    --black: #000000;
    --coding-green: #00FF00;
    --clemson-orange: #F56600;
    --clemson-purple: #522D80;
    --clemson-diploma: #2E1A47
    --reflection: #C8C9C7;
    --innovation: #888B8D;
}

/* #first-css-header {
    position: absolute;
    top: 10%;
    height: 386px;
    width: 1584px;
    background: var(--black);
}

p {
    position: absolute;
    left: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 14px;
    color: var(--coding-green);
}

a {
    position: absolute;
    display: block;
    height: auto;
} */

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }

#second-css-header {
    position: absolute;
    height: 386px;
    width: 1584px;
    background: var(--innovation);
    border-color: #000000;
}

#second-css-header-form {
    font-size: large;
}

#user_input {
    font-size: medium;
}

#clemson {
    position: absolute;
    left: 5%;
    font-family: paw-hammer;
    line-height: 0;
    font-size: 100px;
    color: white;
}

#major {
    position: absolute;
    left: 35%;
    top: 50%;
    font-family: paw-hammer;
    overflow-wrap: break-word;
    font-size: 70px;
    color: var(--clemson-purple);
    text-shadow: white 1px 0 10px;
}

#clemson-logo {
    position: absolute;
    left: 75%;
}